/*!
 * Modified bootstrap.css for mPDF styling
 * by Kartik Visweswaran
 *
 * Based on Bootstrap CSS v3.3.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * 
 */
@media print {
    *,
    *:before,
    *:after {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        /*font-size: 10px;*/
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;

        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    select {
        background: #fff !important;
    }
    .navbar {
        display: none;
    }
    .btn .caret,
    .dropup .btn .caret {
        border-top-color: #000 !important;
    }
    .label {
        border: 1px solid #000;
    }
    .table {
        border-collapse: collapse !important;
        width: 100%;
    }
    .table td,
    .table th {
        /*background-color: #fff !important;*/
        background-color: transparent !important;
        /*edited*/
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #000 !important;
    }

    /* */
    .table thead tr th,
    .table tbody tr th,
    .table tfoot tr th,
    .table thead tr td,
    .table tbody tr td,
    .table tfoot tr td {
        /*padding: 8px;*/
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #000;
        font-size: 14px;
    }
    .table thead tr th {
        vertical-align: bottom;
        border-bottom: 2px solid #000;
    }
    .table caption + thead tr:first-child th,
    .table colgroup + thead tr:first-child th,
    .table thead:first-child tr:first-child th,
    .table caption + thead tr:first-child td,
    .table colgroup + thead tr:first-child td,
    .table thead:first-child tr:first-child td {
        border-top: 0;
    }
    .table tbody + tbody {
        border-top: 2px solid #000;
    }
    .table .table {
        background-color: #fff;
    }
    /*        .table-condensed thead tr th,
            .table-condensed tbody tr th,
            .table-condensed tfoot tr th,
            .table-condensed thead tr td,
            .table-condensed tbody tr td,
            .table-condensed tfoot tr td {
                padding: 5px;
            }*/
    .table-bordered {
        border: 1px solid #000;
    }
    .table-bordered thead tr th,
    .table-bordered tbody tr th,
    .table-bordered tfoot tr th,
    .table-bordered thead tr td,
    .table-bordered tbody tr td,
    .table-bordered tfoot tr td {
        border: 1px solid #000;
    }
    .table-bordered thead tr th,
    .table-bordered thead tr td {
        border-bottom-width: 2px;
    }
    .table-striped tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
    }
    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
    }
    table col[class*="col-"] {
        position: static;
        display: table-column;
        float: none;
    }
    table td[class*="col-"],
    table th[class*="col-"] {
        position: static;
        display: table-cell;
        float: none;
    }
    .table thead tr td.active,
    .table tbody tr td.active,
    .table tfoot tr td.active,
    .table thead tr th.active,
    .table tbody tr th.active,
    .table tfoot tr th.active,
    .table thead tr.active td,
    .table tbody tr.active td,
    .table tfoot tr.active td,
    .table thead tr.active th,
    .table tbody tr.active th,
    .table tfoot tr.active th {
        background-color: #f5f5f5;
    }
    .table-hover tbody tr td.active:hover,
    .table-hover tbody tr th.active:hover,
    .table-hover tbody tr.active:hover td,
    .table-hover tbody tr:hover .active,
    .table-hover tbody tr.active:hover th {
        background-color: #e8e8e8;
    }
    .table thead tr td.success,
    .table tbody tr td.success,
    .table tfoot tr td.success,
    .table thead tr th.success,
    .table tbody tr th.success,
    .table tfoot tr th.success,
    .table thead tr.success td,
    .table tbody tr.success td,
    .table tfoot tr.success td,
    .table thead tr.success th,
    .table tbody tr.success th,
    .table tfoot tr.success th {
        background-color: #dff0d8;
    }
    .table-hover tbody tr td.success:hover,
    .table-hover tbody tr th.success:hover,
    .table-hover tbody tr.success:hover td,
    .table-hover tbody tr:hover .success,
    .table-hover tbody tr.success:hover th {
        background-color: #d0e9c6;
    }
    .table thead tr td.info,
    .table tbody tr td.info,
    .table tfoot tr td.info,
    .table thead tr th.info,
    .table tbody tr th.info,
    .table tfoot tr th.info,
    .table thead tr.info td,
    .table tbody tr.info td,
    .table tfoot tr.info td,
    .table thead tr.info th,
    .table tbody tr.info th,
    .table tfoot tr.info th {
        background-color: #d9edf7;
    }
    .table-hover tbody tr td.default:hover,
    .table-hover tbody tr th.default:hover,
    .table-hover tbody tr.default:hover td,
    .table-hover tbody tr:hover .default,
    .table-hover tbody tr.default:hover th {
        background-color: #c4e3f3;
    }
    .table thead tr td.default,
    .table tbody tr td.default,
    .table tfoot tr td.default,
    .table thead tr th.default,
    .table tbody tr th.default,
    .table tfoot tr th.default,
    .table thead tr.default td,
    .table tbody tr.default td,
    .table tfoot tr.default td,
    .table thead tr.default th,
    .table tbody tr.default th,
    .table tfoot tr.default th {
        background-color: lightgray;
    }
    .table-hover tbody tr td.info:hover,
    .table-hover tbody tr th.info:hover,
    .table-hover tbody tr.info:hover td,
    .table-hover tbody tr:hover .info,
    .table-hover tbody tr.info:hover th {
        background-color: #c4e3f3;
    }
    .table thead tr td.warning,
    .table tbody tr td.warning,
    .table tfoot tr td.warning,
    .table thead tr th.warning,
    .table tbody tr th.warning,
    .table tfoot tr th.warning,
    .table thead tr.warning td,
    .table tbody tr.warning td,
    .table tfoot tr.warning td,
    .table thead tr.warning th,
    .table tbody tr.warning th,
    .table tfoot tr.warning th {
        background-color: #fcf8e3;
    }
    .table-hover tbody tr td.warning:hover,
    .table-hover tbody tr th.warning:hover,
    .table-hover tbody tr.warning:hover td,
    .table-hover tbody tr:hover .warning,
    .table-hover tbody tr.warning:hover th {
        background-color: #faf2cc;
    }
    .table thead tr td.danger,
    .table tbody tr td.danger,
    .table tfoot tr td.danger,
    .table thead tr th.danger,
    .table tbody tr th.danger,
    .table tfoot tr th.danger,
    .table thead tr.danger td,
    .table tbody tr.danger td,
    .table tfoot tr.danger td,
    .table thead tr.danger th,
    .table tbody tr.danger th,
    .table tfoot tr.danger th {
        background-color: #f2dede;
    }
    .table-hover tbody tr td.danger:hover,
    .table-hover tbody tr th.danger:hover,
    .table-hover tbody tr.danger:hover td,
    .table-hover tbody tr:hover .danger,
    .table-hover tbody tr.danger:hover th {
        background-color: #ebcccc;
    }
    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

    /* This part added specifically for PDF*/
    .form-id,.form-lampiran {
        font-size:12px;
        text-align: right;
    } 
    .form-detail-right {
        padding-left: 580px;
        font-size:12px;
    } 
    .form-name{
        text-align: center;
    } 
    .right-border-bold {
        border:10px solid #000
    }
    /*    tr td.row-1 + col-1{
            background-color: red
        }*/
    .table tbody tr td.col-1,
    .table tbody tr td.col-3,
    .table tbody tr td.col-4,
    .table tbody tr td.col-5,
    .table tbody tr td.col-6,
    .table tbody tr td.col-7,
    .table tbody tr td.col-9 {
        text-align: center;
        /*background-color: red;*/
    }
    /*general table classes*/
    .table thead tr td.center,
    .table tfoot tr td.center,
    .table tbody tr td.center,
    .table tbody tr th.center {
        text-align: center;
        /*background-color: red;*/
    }
    .table thead tr td.pull-left,
    .table tfoot tr td.pull-left,
    .table tbody tr td.pull-left,
    .table tbody tr th.pull-left{
        text-align: left;
        /*background-color: red;*/
    }
    .table thead tr td.pull-right,
    .table tfoot tr td.pull-right,
    .table tbody tr td.pull-right,
    .table tbody tr th.pull-right{
        text-align: right;
        /*background-color: red;*/
    }
    .table tbody tr td.width-sm,
    .table tbody tr th.width-sm{
        width: 10%;
        /*background-color: red;*/
    }
    .table tbody tr td.width-sm-7,
    .table tbody tr th.width-sm-7{
        width: 7%;
        /*background-color: red;*/
    }
    .table tbody tr td.width-sm-8,
    .table tbody tr th.width-sm-8{
        width: 8%;
        /*background-color: red;*/
    }
    .table tbody tr td.width-md,
    .table tbody tr th.width-md{
        width: 30%;
        /*background-color: red;*/
    }
    .table tbody tr td.width-lg,
    .table tbody tr th.width-lg{
        width: 60%;
        /*background-color: red;*/
    }
    .table tbody tr td,
    .table tbody tr th{
        padding-left: 5px;
        padding-right: 5px;
        /*background-color: red;*/
    }
    .table tbody tr td.no-left-border {
        border-left: none;
    }
    .table tbody tr td.no-right-border {
        border-right: none;
    }
    .table tbody tr td.no-bottom-border {
        border-bottom: none;
    }
    .table tbody tr td.no-top-border {
        border-top: none;
    }

    /*end of general table classes*/
    .table tbody tr td.foot-col-2,
    .table tbody tr td.foot-col-4,
    .table tbody tr td.foot-col-6,
    .table tbody tr td.col-8,
    .table tbody tr td.foot-col-8 {
        text-align: right;
        border-left: none;
        /*background-color: blue;*/
    }
    .table tbody tr td.foot-col-1,
    .table tbody tr td.foot-col-3,
    .table tbody tr td.foot-col-5,
    .table tbody tr td.foot-col-7 {
        /*text-align: right;*/
        border-right: none;
        /*background-color: green;*/
    }
    .table tfoot tr td.foot-deliver-head {
        text-align: center;
        vertical-align: middle;
        /*background-color: yellow;*/
    }
    .table thead tr th.row-5,
    .table thead tr th.row-6 {
        text-align: center;
        vertical-align: top;
    }
    .table thead tr th.row-1{
        text-align: left;
        vertical-align: top;
    }
    /*    .desc {   
            padding-left:100; 
            padding-top:220;  
        }
        .first {   
            margin-top: 8px;
            margin-left: 20px;
            padding-left:30px; 
            padding-top:20px;  
            width: 470px;
            height: 10px;
            background: black;
        }
        #first-left {
            position: absolute; 
            position: ; 
            overflow:hidden; 
            display: inline-block;
            float: left;
            width: 470px;
            height: 20px;
            margin-right: 30px;
            margin-bottom: 30px;
            max-height: 100px;
            background: #ccc;
        }
        #first-right {  
            float: left;
            width: 470px;
            height: 40px;
            margin-left: 20px;
            margin-bottom: 30px;
            max-height: 100px;
            background: red;
        }
        .second {   
            padding-left:100; 
            padding-top:20;  
        }
        #second-left {   
            padding-left:100; 
            padding-top:20;  
        }
        .third {   
            padding-left:100; 
            padding-top:12;  
        }*/
    .pdf {
        border: 3px solid #6000;
        /*        width: 200px;
                height: 50px;*/
    }
    .desc {   
        position: static;
        margin-top:223px; 
        margin-left:17px;  
        width: 973px;
        height: 50px;
        border: 3px solid #6000;
    }
    .first {   
        float: left;
        position: absolute;
        margin-top: 17px;
        margin-left: 17px;
        width: 973px;
        height: 52px;
        border: 3px solid #6000;
        overflow-y: hidden;
    }
    #first-left {
        float: left;
        position: relative;
        width: 480px;
        height: 50px;
        border: 3px solid blue;
    }
    #first-right {  
        float: left;
        margin-left: 5px;
        width: 480px;
        height: 50px;
        border: 3px solid #73AD21;
    }
    .second {   
        float: left;
        position: absolute;
        margin-top: 17px;
        margin-left: 17px;
        width: 973px;
        height: 52px;
        border: 3px solid #6000;
        overflow-y: hidden;
    }
    #second-left {
        float: left;
        position: relative;
        width: 480px;
        height: 50px;
        border: 3px solid blue;
    }
    #second-right {  
        float: left;
        margin-left: 5px;
        width: 480px;
        height: 50px;
        border: 3px solid #73AD21;
    }
    .third {   
        float: left;
        position: absolute;
        margin-top: 17px;
        margin-left: 17px;
        width: 973px;
        height: 52px;
        border: 3px solid #6000;
        overflow-y: hidden;
    }
    #third-left {
        float: left;
        position: relative;
        width: 480px;
        height: 50px;
        border: 3px solid blue;
    }
    #third-right {  
        float: left;
        margin-left: 5px;
        width: 480px;
        height: 50px;
        border: 3px solid #73AD21;
    }
    .table-overflow {
        overflow: hidden;
    }
    .border-blue {
        border: 3px solid #6000;
    }
    /*kewps8*/
    .table tbody tr td.col-1,
    /*.table tbody tr td.col-3,*/
    /*.table tbody tr td.col-4,*/
    .table tbody tr td.col-5,
    /*.table tbody tr td.col-6,*/
    /*.table tbody tr td.col-7,*/
    .table tbody tr td.col-9 {
        text-align: center;
        /*background-color: red;*/
    }

    /*KEWPS 4*/
    .kewps4-form-id {
        /*width: 20px;*/
        font-size: 12px;
        padding-left: 550px;
        /*background-color: red;*/
        /*text-align: right;*/
    } 
    /*KEWPS 8*/
    .clas1 {
        background-color: blue;
    }
    .clas2 {
        background-color: red;        
    }
    .clas1.clas2 {
        background-color: yellow;        
    }
    /*KEWPS 8*/


}
